.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.logo {
  font-size: 1.5rem;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  display: flex-end;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-links li a:hover {
  text-decoration: underline;
}