nav {
  position: fixed; /* Fixed position to keep Navbar at the top of the page */
  top: 0;
  left: 0;
  width: 100%; /* Occupy the full width of the viewport */
  background-color: #e41b1f;
  box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
  z-index: 1000; /* Ensure Navbar is above other content */
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  padding: 25px 0;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
  border-radius: 1.5rem;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.sidebar.open{
  opacity: 1;
  transform: translateX(0);
}


.sidebar li {
  width: 100%
}

.menu-button { 
  display: none;
} 

@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}
.logo a:hover {
  background-color: transparent;
}

