* {
  box-sizing: border-box;
  font-family: sans-serif;
}

 /* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
  background: white;
}  */